*{
    padding: 0;
    margin: 0;
    direction: rtl !important;
    text-decoration: none !important;
    font-family: 'cinema';
    box-sizing: border-box !important;
}
body {
    overflow-x: hidden !important;
}
#scroll {
    position: fixed;
    top: 0 !important;
    z-index: 100;
    height: 3px;
    display: block;
    background-image: linear-gradient(to bottom, #06b6d4, #34d399);
    border-radius: 5px;
}
.container {
    display: block;
    margin: auto;
    width: 1000px;
    padding: 3rem 0;
}